<div id="appbox" class="appbox  flex-r jus-cent" [ngStyle]="{'width': Base.PageWidth+'px', 'height':Base.PageHeight+'px'}">

  <div class="loding">
  </div>

  <div class="gamebox" [ngStyle]="{
      'width': Base.canvasWidth+'px',
      'height': Base.canvasHeight+'px',
      'left': Base.DirectionX? 0:Base.PageWidth+'px',
      'backgroundImage': 'url('+Base.Pagebg+')'
    }"
    [ngClass]="{rotate: !Base.DirectionX}">

    <router-outlet></router-outlet>

  </div>


  <!-- 弹窗页面 -->
  <ng-container *ngIf="Base.Popup_Page">
    <div class="public_popups flex-r jus-cent" [ngStyle]="{
        'width': Base.canvasWidth+'px',
        'height': Base.canvasHeight+'px',
        'left': Base.DirectionX? 0:Base.PageWidth+'px'
      }"
      [ngClass]="{rotate: !Base.DirectionX}">

      <!-- 设置 -->
      <ng-container *ngIf="Base.Popup_Page===1">
        <app-setpage></app-setpage>
      </ng-container>

      <!-- 规则 -->
      <ng-container *ngIf="Base.Popup_Page===2">
        <app-rule></app-rule>
      </ng-container>

      <!-- 邮件 -->
      <ng-container *ngIf="Base.Popup_Page===3">
        <app-email></app-email>
      </ng-container>

      <!-- 签到 -->
      <ng-container *ngIf="Base.Popup_Page===4">
        <app-signin></app-signin>
      </ng-container>

      <!-- 记录 -->
      <ng-container *ngIf="Base.Popup_Page===5">
        <app-record></app-record>
      </ng-container>

      <!-- 反馈 -->
      <ng-container *ngIf="Base.Popup_Page===6">
        <app-feedback></app-feedback>
      </ng-container>

      <!-- 个人中心 -->
      <ng-container *ngIf="Base.Popup_Page===7">
        <app-usercent></app-usercent>
      </ng-container>

    </div>
  </ng-container>

</div>
