<div class="body flex-r jus-cent">
    <div class="container flex-c aln-cent">
      <div class="loginbox flex-c aln-cent" *ngIf="!succeed">
        <header class="flex-c aln-cent">
          <img src="../../../assets/images/user/dl_10.png" alt="快速注册">
        </header>
        <div class="flex-c aln-cent formbox">
          <span class="errtip">{{errtip}}</span>
          <span class="flex-r formitem">
            <span class="flex-r jus-cent title">
              <img src="../../../assets/images/user/dl_04.png" alt="账号">
            </span>
            <input type="text" name="account" placeholder="请输入账号" [(ngModel)]="user.user_name">
          </span>
          <span class="flex-r formitem">
            <span class="flex-r jus-cent title">
              <img src="../../../assets/images/user/dl_11.png" alt="昵称">
            </span>
            <input type="text" name="name" placeholder="请输入您的昵称" [(ngModel)]="user.nick_name">
          </span>
          <span class="flex-r formitem">
              <span class="flex-r jus-cent title">
                <img src="../../../assets/images/user/dl_05.png" alt="账号">
              </span>
              <input type="password" name="password" placeholder="请输入密码" [(ngModel)]="user.password">
          </span>
          <span class="flex-r formlink">
              <input type="checkbox" name="clause" [(ngModel)]="clause">
              <span>同意</span>
              <a>条款</a>
          </span>
          <span class="flex-r jus-bet btnbox">
            <span class="formbtn" (click)="sub()"></span>
            <a routerLink="/login" class="tologin"></a>
          </span>

        </div>
      </div>

       <!-- 注册成功提示 -->
      <div class="loginbox flex-c aln-cent" *ngIf="succeed">
        <header class="flex-c aln-cent">
          <img src="../../../assets/images/user/dl_16.png" alt="注册成功">
        </header>
        <div class="flex-c aln-cent succeedbox">
          <strong class="h1">恭喜您！注册成功</strong>
          <span class="flex-c">
            <p>获得更多金币，您还可以：</p>
            <p>1.完成任务，大量金币等你拿 </p>
            <p>2.玩游戏，海量活动等你来参与 </p>
            <p>3.绑定手机和邮箱，密码保护更安全</p>
          </span>

          <a routerLink="/login" class="tologin"></a>

        </div>
      </div>
    </div>
  </div>
